{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Maintenance{% endblock title %} {"title": "Maintenance"}
{% block header %}
{% endblock header %}
{% block left_sidebar %}
{% endblock left_sidebar %}
{% block content %}
    <div class="bg-light-subtle min-vh-100 py-5">
                <div class="py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="row justify-content-center mb-5">
                                        <div class="col-sm-5">
                                            <div class="maintenance-img">
                                                <img src="{% static 'images/maintenance.png'%}" alt="" class="img-fluid mx-auto d-block">
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mt-4">Site is Under Maintenance</h3>
                                    <p>Please check back in sometime.</p>
        
                                    <div class="mt-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="avatar-md mx-auto">
                                                            <span class="avatar-title bg-primary-subtle rounded-circle">
                                                                <i class="mdi mdi-access-point-network font-size-24 text-primary"></i>
                                                            </span>
                                                        </div>
                                                        
                                                        <h5 class="font-size-15 text-uppercase mt-4">Why is the Site Down?</h5>
                                                        <p class="text-muted mb-0">There are many variations of passages of
                                                            Lorem Ipsum available, but the majority have suffered alteration.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="avatar-md mx-auto">
                                                            <span class="avatar-title bg-primary-subtle rounded-circle">
                                                                <i class="mdi mdi-clock-outline font-size-24 text-primary"></i>
                                                            </span>
                                                        </div>
                                                        <h5 class="font-size-15 text-uppercase mt-4">
                                                            What is the Downtime?</h5>
                                                        <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not
                                                            simply random text. It has roots in a piece of classical.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="avatar-md mx-auto">
                                                            <span class="avatar-title bg-primary-subtle rounded-circle">
                                                                <i class="mdi mdi-email-outline font-size-24 text-primary"></i>
                                                            </span>
                                                        </div>
                                                        <h5 class="font-size-15 text-uppercase mt-4">
                                                            Do you need Support?</h5>
                                                        <p class="text-muted mb-0">If you are going to use a passage of Lorem
                                                            Ipsum, you need to be sure there isn't anything embar.. <a
                                                                    href="mailto:no-reply@domain.com"
                                                                    class="text-decoration-underline">no-reply@domain.com</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
            </div>
            <!-- end  -->
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block right_sidebar %}
{% endblock right_sidebar %}

{% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'libs/metismenu/dist/metisMenu.min.js'%}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.min.js'%}"></script>
    <script src="{% static 'libs/node-waves/dist/waves.min.js'%}"></script>
    <script src="{% static 'libs/feather-icons/dist/feather.min.js'%}"></script>
    <!-- pace js -->
    <script src="{% static 'libs/pace-js/pace.min.js'%}"></script>
{% endblock javascript %}
    